<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user, currentSong: current_song(current_user)).html_safe %>
    window.currentSong = <%= render("api/songs/song.json.jbuilder", song: current_song(current_user)).html_safe %>
    window.audio = document.getElementById('root-audio');
    window.audio.src = "<%= url_for(current_song(current_user).song_file) %>"
  </script>
<% end %>

<script type="text/javascript">
  window.spotifyWhite = "<%= image_url('spotify-256.png') %>"
  window.spotifyBlack = "<%= image_url('spotify-black-256.png') %>"
  window.homeLogo = "<%= image_url('home-logo.png') %>"
  window.searchLogo = "<%= image_url('search-logo.png') %>"
  window.heartIcon = "<%= image_url('noun_Love_2030510.png') %>"
  window.heartGrayIcon = "<%= image_url('noun_Love_Gray_2030510.png') %>"
  window.threeDotsIcon = "<%= image_url('noun_three dots_384290.png') %>"
  window.musicNoteIcon = "<%= image_url('noun_Music Note_750757.png') %>"
  window.musicNoteNeonIcon = "<%= image_url('noun_Music Note_Neon_750757.png') %>"
  window.musicPlayIcon = "<%= image_url('noun_play button_438928.png') %>"
  window.musicPlayNeonIcon = "<%= image_url('noun_play button_Neon_438928.png') %>"


  window.shuffleIcon = "<%= image_url('noun_Shuffle_White_390589.png') %>"
  window.shuffleGrayIcon = "<%= image_url('noun_Shuffle_Gray390589.png') %>"
  window.previousIcon = "<%= image_url('noun_previous_White_1009804.png') %>"
  window.previousGrayIcon = "<%= image_url('noun_previous_Gray_1009804.png') %>"
  window.nextIcon = "<%= image_url('noun_Next_White_1009810.png') %>"
  window.nextGrayIcon = "<%= image_url('noun_Next_Gray_1009810.png') %>"
  window.playIcon = "<%= image_url('noun_play_White_2027137.png') %>"
  window.playGrayIcon = "<%= image_url('noun_play_Gray_2027137.png') %>"
  window.pauseIcon = "<%= image_url('noun_pause_white_219842.png') %>"
  window.pauseGrayIcon = "<%= image_url('noun_pause_gray_219842.png') %>"
  window.repeatIcon = "<%= image_url('noun_Repeat_White_2000346.png') %>"
  window.repeatGrayIcon = "<%= image_url('noun_Repeat_Gray_2000346.png') %>"
  window.playlistIcon = "<%= image_url('noun_Playlist_White_1126728.png') %>"
  window.playlistGrayIcon = "<%= image_url('noun_Playlist_Gray_1126728.png') %>"
  window.maxVolumeIcon = "<%= image_url('noun_max volume_White_1113091.png') %>"
  window.maxVolumeGrayIcon = "<%= image_url('noun_max volume_Gray_1113091.png') %>"
  window.travisScott = "<%= image_url('travis_scott_icon_image.jpeg') %>"

  window.closeIcon = "<%= image_url('noun_Cross_1902991_FFFFFF.png') %>"

</script>

<main id="root">

</main>
