<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.spotifyWhite = "<%= image_url('spotify-256.png') %>"
  window.spotifyBlack = "<%= image_url('spotify-black-256.png') %>"
  window.homeLogo = "<%= image_url('home-logo.png') %>"
  window.searchLogo = "<%= image_url('search-logo.png') %>"
  window.heartIcon = "<%= image_url('noun_Love_2030510.png') %>"
  window.threeDotsIcon = "<%= image_url('noun_three dots_384290.png') %>"
  window.musicNoteIcon = "<%= image_url('noun_Music Note_750757.png') %>"
  window.musicPlayIcon = "<%= image_url('noun_play button_438928.png') %>"
</script>

<main id="root">

</main>
