<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="<%= image_url('noun_Snoop Dogg_2021743.png') %>">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThatMusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <audio id="root-audio"></audio>
    <%= yield %>
  </body>
</html>
