<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="<%= image_url('spotify-black-256.png') %>">
    <title>ThatMusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
